@import './reset';
* {
    font-family:'Courier New', Courier, monospace;
    
    
}
#wrapper {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    gap: 20px;

    
}
#nav {
 display: grid;
 grid-template-columns: repeat(3, 2fr);

}
 nav {
    align-items: center;
    grid-row: 1;
    top: 0;
    margin-top: 0;
    display: grid;
    width: 100vw;
    grid-template-columns: 20px 2fr 1fr 80px 20px;
    grid-template-rows: 1fr;
     background: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(161, 255, 247, 0.226) 68%);;
    gap: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    input[type="search"] {
        grid-column: 3;
        justify-self: flex-end;
        width: 200px;
        border: none;
        border-radius: 50px;
        padding: 1rem;

    }
    input[type="search"]:focus {
        outline:none;

        box-shadow: 2px 2px 2px  rgba(0, 195, 255, 0.308);
    }
    button {
        padding:1rem;
        grid-column: 4;
        background-color:  rgba(0, 195, 255, 0.774);
        color: white;
        font-weight: bold;
        border-radius: 5px;
        border: none;
    }
}

#city-name {
    grid-column: 2;
    font-size: 48px;
    color:white;
    text-shadow: rgba(123, 111, 252, 0.473) 2px 2px;
    font-weight: bold;

}

#today {
    display: grid;
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-shadow: rgba(123, 111, 252, 0.473) 2px 2px;
    font-size: larger;
    gap: 10px;
    align-items: start;
}
#weather-overview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
}

#right-overview {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
}

#condition {
    font-size: 40px;
    grid-row: 1;

}
#temp {
    font-size: 65px;
    font-weight: bold;
    grid-row: 2;
}
#rain::before {
    content: ' ';
  

}
#weather-icon {
    grid-row: 3;
    width: 100px;
    margin-left: -20px;
}


#weekly-forecast {
    grid-row: 4;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    bottom: 0;
    padding: 1rem 1rem 8rem;
}

#date-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.sunny   {
    background: rgb(255,252,165);
    background: linear-gradient(18deg, rgb(255, 252, 165) 15%, rgba(52, 221, 255, 0.671) 100%);
}

.rainy {
    background: rgb(128,136,178);
    background: linear-gradient(79deg, rgba(128,136,178,1) 0%, rgba(26,77,176,1) 58%, rgb(44, 23, 92) 100%);
    background: rgb(87,106,204);
    background: linear-gradient(78deg, rgba(87,106,204,1) 0%, rgba(51,87,222,1) 7%, rgba(31,70,189,1) 10%, rgba(45,81,187,1) 18%, rgba(24,55,134,1) 26%, rgba(34,93,226,1) 36%, rgba(49,90,178,1) 43%, rgba(19,56,134,1) 51%, rgba(38,81,164,1) 60%, rgb(28, 69, 172) 68%, rgba(82,111,195,1) 76%, rgba(51,65,138,1) 82%, rgb(77, 85, 231) 88%, rgba(23,35,152,1) 95%);
}

.cloudy {
    background: rgb(241,176,204);
    background: linear-gradient(90deg, rgba(241, 176, 204, 0.5) 20%, rgba(181,216,223,0.4547991071428571) 72%, rgba(148, 188, 233, 0.397) 100%);
}
.snow {
    background: rgb(205,255,246);
background: linear-gradient(42deg, rgba(205,255,246,1) 4%, rgba(255,255,255,1) 20%, rgba(218,255,252,1) 58%, rgba(246,255,254,1) 71%, rgba(197,223,221,1) 86%);
}
.night {
    
background: rgb(123,111,252);
background: linear-gradient(90deg, rgba(123,111,252,1) 20%, rgba(64,58,153,1) 44%, rgba(27,22,96,1) 68%);
}

.day {
    background-color: #85d3f167;
}